.body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.petshop-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
  text-align: center;
}

.search-petshop {
  background-color: #ffb83d;
  color: #fff;
  border-radius: 40px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  padding: 82px;
  margin: 70px 106px 102px 100px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 16px;
}

.search-petshop:hover {
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0.5);
}
.petshop-image {
  max-width: 100%;
  height: auto;
  margin-top: -60px;
}

.petshop-image:hover {
  transform: scale(1.05);
}


@media (max-width: 480px) {

  .search-petshop {
    background-color: #ffc145;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    padding: 55px;
    margin: 20px -44px 92px -40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 16px;
  }
  .petshop-image {
    max-width: 170%;
    margin-top: -40px;
    margin-left: -80px;
  }
}
