/* コンテンツ全体 */
.content {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}
/* タイトル */
h2 {
  font-weight: bold;
  font-size: 22px;
}
.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.tag-button {
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  color: #555;
}

.tag-button.selected {
  background-color: #859f3d;
  color: white;
}

.store-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.store-item {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  text-align: left;
  display: flex;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.store-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.rating {
  font-size: 18px;
  color: gray;
  margin: 10px 0;
}

/* 星全体のコンテナ */
.star-container {
  position: relative;
  font-size: 24px; /* 星のサイズ */
  display: flex;
  align-items: center;
  line-height: 1;
  width: 120px;
  margin: 10px 0;
}

/* 背景の星（灰色） */
.stars-background {
  color: #ccc; /* 灰色の星 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  white-space: nowrap; /* 星が1行に並ぶ */
  overflow: hidden; /* 塗りつぶし部分がはみ出さない */
}

/* 塗りつぶされた星（ゴールド） */
.stars-filled {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  overflow: hidden;
  width: 0%; /* デフォルトは幅0 */
  transition: width 0.3s ease; /* 幅の変化をアニメーションで */
}

.store-name {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  text-align: center;
}

@media (max-width: 480px) {
  .store-item {
    width: 90%;
    margin: 10px auto;
  }

  .star-container {
    font-size: 20px;
  }
  .store-name {
    font-size: 16px;
  }
  .star-rating-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
  }

  .store-img {
    height: 150px;
  }
  .tags-container {
    gap: 5px;
  }
  .search-for-tags h3 {
    font-size: 10px;
    padding-right: 10px;
  }
  /* リンクのデフォルトスタイルをリセット */
  a,
  .Link {
    text-decoration: none;
    color: #333;
  }
  h2 {
    font-size: 20px;
  }

  .search-tags {
    font-size: 15px;
  }
  .tag-button {
    margin-bottom: 10px;
  }
}
