/* リセットスタイル */
a {
  text-decoration: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

/* メインスタイル */
.main__scroll-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 20px 140px;
}

.main__scroll-text {
  font-size: 15px;
  color: rgba(28, 28, 30, 1);
  font-family: Arial, sans-serif;
}

.main__action:hover .main__scroll-box {
  animation: scroll-down 1.5s infinite;
}
.main_scroll {
margin-left: 60px;
}
/* スクロールアイコンのアニメーション */
@keyframes scroll-down {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(1rem);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
