body {
  background-color: #fefffa;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Noto Sans JP";
}

header {
  padding: 20px;
  font-family: Helvetica, sans-serif;
}

.header h1 {
  font-size: 2rem;
}

.section {
  margin: 40px 0;
}

.main-title {
  font-family: "Not sans";
  font-size: 1em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.info-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 180px 230px;
}
/* `reverse` クラスがあるときに左右反転 */
.info-section.reverse {
  flex-direction: row-reverse;
}

/* スマートフォン対応 */
@media (max-width: 600px) {
  /* テキストと画像の配置を調整 */
  .text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .dogrun-image,
  .dogcafe-image,
  .petshop-image,
  .hospital-image {
    height: auto;
  }

  .dogrun-nametag {
    position: absolute;
    top: 240px;
    left: 60%;
    transform: translate(-50%);
    z-index: 1;
  }

  .dogcafe-nametag {
    padding-bottom: 240%;
  }

  .hospital-nametag{

    padding-bottom: 280%;
    margin-right: -100%;
  }
  .info-section {
    flex-direction: column;
  }

  .text-container,
  .image-container {
    width: 100%;
  }
}
