.container {
  text-align: center;
}

/* 店舗画像のスタイル */
.container img {
  width: 100%;
  margin: 10px 0;
}

/* Google Map埋め込みスタイル */
.container iframe {
  width: 100%;
  height: 300px;
  border: none;
  border-radius: 8px;
  margin: 20px 0;
}

/* テキスト情報のスタイル */
.container p {
  margin: 10px 0;
  color: #555;
  line-height: 1.5;
}

.container p strong {
  font-weight: bold;
  color: #333;
}
.favorite-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  background-color: #f3af5c;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s;
}
.favorite-button.active {
  background-color: #f3af5c;
}


/* 星のスタイル */
.star {
  font-size: 24px; /* 星の大きさ */
  color: gray; /* デフォルトの星の色 */
  margin: 0 2px; /* 星の間隔 */
  display: inline-block;
  transition: color 0.3s ease; /* 色変更のスムーズなアニメーション */
}

.star.selected {
  color: gold;
}

/* 口コミリンク */
.review-button{
  display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  text-decoration: none;
  color: #000; /* テキストの色を黒に */
  background-color: #fff; /* 背景色を白に */
  border: 1px solid #000; /* 外枠を黒に設定 */
  border-radius: 5px; /* 角丸 */
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
  margin-bottom: 20px;
  font-weight: bold;
}

.review-button:hover {
  background-color: #f0f0f0; /* ホバー時に少しグレーに */
  transform: scale(1.05); /* ホバー時に拡大 */
}
.container .link:hover {
  background-color: #aaa;
}

/* 店舗公式サイトリンク */
.official-site {
  color: black;
}
.container a:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}


@media (max-width: 480px) {
  .detail-title {
    font-size: 18px;
  }
  .container img,
  .container iframe {
    width: 100%;
  }

  .store-title {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .rating-container {
    position: relative;
    font-size: 24px; /* 星のサイズ */
    color: #ccc; /* 背景の星の色 */
  }
  
  .favorite-button {
    margin-bottom: 20px;
  }
  .rating-container .filled-stars {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: gold; /* 塗りつぶしの色 */
  }
  .official-site {
    margin-bottom: 20px;
  }

}