.review-container {
  padding: 20px;
  background-color: white;
}
.store-name-review {
  text-align: center;
  font-size: 25px;
  margin-bottom: 40px;
}

.review-title {
  font-size: 20px;
  margin-top: 80px;
}
/* 平均評価 */
.average-rating-value {
  font-size: 25px;
  font-weight: bold;
  display: block;
  text-align: center;
}
/* 投稿ボタン */
.review-button-reviewlist {
  display: block;
  width: 100px;
  margin: 10px auto;
  padding: 10px;
  background-color: #ffcc80;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.review-button:hover {
  background-color: #ffa726;
}
.review-card {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba((0,0,0,0.1), green, blue, alpha);
  text-align: center;
}
/* 口コミの星評価 */
.review-rating {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.review-comment {
  line-height: 1.5;
  white-space: pre-wrap;
}

/*  星評価のコンテナ */
.review-star-container {
  position: relative;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 120px;
}

/*  背景の星（灰色） */
.review-stars-background {
  color: #ccc;
  position: absolute;
  top: 0;
  left: 520px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: -29px;
}

/* 塗りつぶされた星（ゴールド） */
.review-stars-filled {
  color: #FFD700;
  position: absolute;
  top: 0;
  left: 520px;
  overflow: hidden;
  width: 0%; /* 初期状態を0%に */
  transition: width 0.3s ease-in-out;
  margin-top: -29px;
}

  @media (max-width: 480px) {
    .review-container {
      padding: 10px;
      background-color: #f8f8f8;
    }
  
    .average-rating-value {
      font-size: 20px;
      margin-left: 170px;
      margin-top: -7px;

    }
    .review-button-reviewlist {
      width: 30%;
      padding: 12px;
      font-size: 14px;
      margin: 15px auto;
    }

    .review-start-container {
       margin: 20px;
    }
    .review-stars-background {
        top: 70px;
        margin-top: 20px;
        left: -380px;
    }

    .review-stars-filled {
      top: 70px;
      margin-left: 500px;
      left: -380px;

      
    }
  }
