.body {
  margin: 0;
  padding: 0;
  font-family: "Gothic Medium BBB", "Noto Sans JP", Hiragino Sans, "ヒラギノ角ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "MS Ｐゴシック", sans-serif;
  background-color: #fef7d5;
}

.tag-container {
  display: flex;
  flex-wrap: wrap; /* タグを折り返し */
  justify-content: flex-start; /* 左揃え */
  gap: 10px; /* タグ同士の間隔 */
}

/* ドロップダウンメニューのスタイル */
.dropdown-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 8px 15px;
  cursor: pointer;
}
.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
.all {
  padding-left: 20px;
}
.arrow {
  padding-left: 10px;
  font-weight: bold;
}

.dogrun-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  align-items: center;
  margin-bottom: 20px;
}
/* ページ全体のスタイル */

.dogrun-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.dogrun-img {
  width: 80%;
  max-width: 500px;
  height: auto;
  transition: transform 0.3s ease;

}
.dogrun-image:hover {
  transform: scale(1.05);
}


@media (max-width:480px) {

  .dogrun-page-container {
    margin-top: 20px;
    font-size: 10px;
  }
  .search-dogrun {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1DB954;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    margin-left: 78px;
    margin-top: 180px;
    margin-bottom: 50px;
    padding: 17px;
    padding-left: 44px;
    padding-right: 35px;
  }

  .search-dogrun:hover {
    transform: scale(1.05);
  }
  .dogrun-image {
    width: 100%;
  }
  .hamburger-menu {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%; /* 必要に応じて調整 */
    z-index: 1000; /* 他の要素より前面に表示 */
  }

}