.review-container {
  padding: 20px;
  background-color: white;
}
.review-title {
  margin-bottom:  20px;
}

.review-card {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.review-rating {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}

.review-comment {
  line-height: 1.5;
  white-space: pre-wrap;
}


/* 星全体のコンテナ */
.star-container {
  position: relative;
  font-size: 24px; /* 星のサイズ */
  display: inline-block;
  line-height: 1;
}

/* 背景の星（灰色） */
.stars-background {
  color: #ccc; /* 灰色の星 */
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap; /* 星が1行に並ぶ */
  overflow: hidden; /* はみ出した部分を隠す */
}

/* 塗りつぶされた星（ゴールド） */
.stars-filled {
  color: #FFD700; /* ゴールドの星 */
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap; /* 星が1行に並ぶ */
  overflow: hidden; /* はみ出した部分を隠す */
}

/* 平均評価 */
.average-rating-value {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}
