/* DogRunPage.css */

/* ページ全体の設定 */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

/* コンテナのスタイル */
.dogrun-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
  text-align: center;
}

/* 見出し・リンクのスタイル */
.search-dogrun {
  font-size: 1.5rem;
  font-weight: bold;
  color: #81ee69;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}

.search-dogrun:hover {
  color: #1DB954;
}

/* 画像のスタイル */
.dogrun-image {
  max-width: 100%;
  height: auto;
}

/* レスポンシブ対応 */
@media (max-width: 768px) {
  .dogrun-page-container {
    padding: 10px;
  }

  .search-dogrun {
    font-size: 1.2rem;
  }
}

.dogrun-image:hover {
  transform: scale(1.05);
}


@media (max-width:480px) {

 
  .search-dogrun {
    background-color: #1DB954;
    color: #fff;
    border-radius: 40px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    padding: 22px;
    margin: 190px 106px 102px 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 18px;
  }

  .search-dogrun:hover {
    transform: scale(1.05);
  }
  .dogrun-image {
    width: 70%;
    margin-left: 60px;
    margin-top: -60px;
  }

}