.body {
  margin: 0;
  padding: 0;
  font-family: "Gothic Medium BBB", "Noto Sans JP", Hiragino Sans, "ヒラギノ角ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "MS Ｐゴシック", sans-serif;
  background-color: #fef7d5;
}

p {
  font-size: 18px;
  margin-bottom: 20px;
  transition: color 0.3s ease; /* ホバー時のアニメーション */

}

.header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 60px;
}

.tag-container {
  display: flex;
  flex-wrap: wrap; /* タグを折り返し */
  justify-content: flex-start; /* 左揃え */
  gap: 10px; /* タグ同士の間隔 */
}

.tag {
  background-color: #ffffff; /* タグの背景色 */
  color: #333333; /* タグの文字色 */
  padding: 8px 12px; /* 内側の余白 */
  border-radius: 20px; /* 角丸 */
  font-size: 14px; /* 文字サイズ */
  cursor: pointer; /* マウスホバーでポインタ表示 */
  border: 1px solid #cccccc; /* タグの境界線 */
  text-align: left; /* テキストを左揃え */
}


/* ドロップダウンメニューのスタイル */
.dropdown-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
}

.dropdown-menu li {
  padding: 8px 15px;
  cursor: pointer;
}
.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
.all {
  padding-left: 20px;
}
.arrow {
  padding-left: 10px;
  font-weight: bold;
}

.dogrun-title {
  font-size: 1.5em;
  margin-bottom: 20px;
  align-items: center;
  margin-bottom: 20px;
}
/* ページ全体のスタイル */

.dogrun-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}
.dogrun-img {
  display: flex;
  margin-top: 50%;
  justify-content: center;

}

.dogrun-illust {
  max-width: 100%;
  width: 100%;
  padding-left: 38%;
  margin-top: 50%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

div {
  cursor: pointer;
  transition: transform  0.2s;
}

