.region-list-container {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.region-list-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.region-list-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.region-section {
  margin-bottom: 20px;
}

.region-title-dogcafe {
  font-size: 20px;
  font-weight: bold;
  color: bisque;
  margin-bottom: 10px;
}

.prefecture-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.prefecture-button {
  cursor: pointer; /* カーソルを手形にする */
  padding: 10px 15px;
  background-color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.prefecture-button:hover {
  color: hsl(50, 25%, 35%);
  background-color: #f9f9f9;
}
