/* コンテンツ全体 */
.content {
  text-align: center;
  padding: 20px;
}
/* タイトル */
.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tag-button {
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.tag-button.selected {
  background-color: #859f3d;
  color: white;
}

.store-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.store-item {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  text-align: left;
}

.store-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.rating {
  font-size: 18px;
  color: gray;
  margin: 10px 0;
}

/* 星全体のコンテナ */
.star-container {
  position: relative;
  font-size: 24px; /* 星のサイズ */
  display: inline-block;
  line-height: 1;
  width: 120px;
}

/* 背景の星（灰色） */
.stars-background {
  color: #ccc; /* 灰色の星 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  white-space: nowrap; /* 星が1行に並ぶ */
  overflow: hidden; /* 塗りつぶし部分がはみ出さない */
}

/* 塗りつぶされた星（ゴールド） */
.stars-filled {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  color: #FFD700  !important; 
  width: 0%; /* デフォルトは幅0 */
  transition: width 0.3s ease; /* 幅の変化をアニメーションで */

}


