.body {
  margin: 0;
  padding: 0;
  font-family:'Arial', sans-serif;
  background-color: #fef7d5;
  color: #333;
}
.hostpital-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
  text-align: center;
}

.search-hospital {
  background-color: #d0d2d3;
  color: #fff;
  border-radius: 40px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  padding: 82px;
  margin: 70px 615px 102px 670px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 16px;
  max-width: 80%; /* ボタンの最大幅を設定 */
  word-break: keep-all;
}
.search-hospital:hover {
  transform: scale(1.05);
  color: rgba(255, 255, 255, 0.5);
}
.hospitalImage {
  max-width: 100%;
  height: auto;
  margin-left: 640px;
}
.hospitalImage:hover {
  transform: scale(1.05);
}

@media (max-width: 480px) {

  .search-hospital {
    background-color: #87b3d3;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    padding: 55px;
    margin: 100px  66px 44px 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 16px;
  }


  .hospitalImage {
    width: 100%;
    margin-top: auto;
    margin-left: auto;
  }
}
