.body {
  margin: 0;
  padding: 0;
  font-family: "Gothic Medium BBB", "Noto Sans JP", Hiragino Sans, "ヒラギノ角ゴシック", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "Noto Sans JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "MS Ｐゴシック", sans-serif;
  background-color: #fef7d5;
}
.searchHospital {
  background-color: rgb(126, 178, 182);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.hospitalImg {
  width: 80%;
  margin-left: 40px;
  margin-bottom: 50px;
  margin-top: 180px;
  transition: transform 0.3s ease;
}


.type5-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
  padding: 10px;
}

.tagButton:hover {
  background-color: #ffa726;
  transform: scale(1.1);
}



@media (max-width: 480px) {
  .type5-tags {
    gap: 8px;
  }
  .tag-button {
    font-size: 12px;
    padding: 8px 12px;
    margin: 4px;
  }

  .searchHospital {
    background-color: rgb(215, 217, 217);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    margin-left: 78px;
    margin-top: 180px;
    margin-bottom: 50px;
    padding: 17px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .hospital-image {
    width: 80%;
    margin-left: 40px;
  }
}
