/* 全体のコンテナスタイル */
.container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.App-header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.main-title {
  font-size: 20px;
  color: #000000;
  margin-bottom: 130px;
}

.image {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
/* 各セクションのスタイル */
.info-section {
  display: flex;
  margin-bottom: 140px;
  gap: 150px;
}
.info-section.reverse {
  flex-direction: row-reverse;
}

/* 画像とテキストコンテナのスタイル */
.image-container {
  position: relative;
  width: 200px;
  height: 200px;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.dogrun-image {
  width: 100%;
}
/* ネームタグの位置設定 */
.dogrun-nametag {
  position: absolute;
  top: 240px;
  left: 280px;
  z-index: 10;
}
.dogcafe-nametag {
  position: absolute;
  right: 10%;
  bottom: 30px;
  z-index: 10;
}
.petshop-nametag {
  position: absolute;
  top: 127%;
  left: 25%;
  z-index: 10;
}
.hospital-nametag {
  position: absolute;
  top: 170%;
  left: 70%;
  z-index: 10;
}
.footer {
  padding-top: 10%;
}
@media (max-width: 480px) {
  .App-header h1 {
    text-align: center;
  }
  .main-title {
    padding-left: 10px;
    font-size: 14px;
    ;
  }

  .info-section {
    flex-direction: column;
    text-align: center;
    margin-bottom: 140px;
  }
  .info-section.reverse {
    flex-direction: column;
  }
  .image-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .dogrun-image,
  .hospital-image {
    height: auto;
    margin: 0 auto;
  }

  .dogcafe-image,
  .petshop-image {
    height: auto;
    margin: 0 auto;
  }
 .dogrun-nametag {
  top: 45%;
  left: 40%;
 }
  .dogcafe-nametag{
    padding-left: 30px;
    top: 130%;
  }

  .petshop-nametag{
    top: 220%;
  }
  .hospital-nametag{
    top: 300%;
    left: 50%;
  }

  .footer {
    padding-top: 10px;
  }
}
